<h2 class="heading">This is where games will be, on a purely theoretical level</h2>

<div class="navbar">
<% if session[:current_user] %>
    <form action="/sessions" method='post'>
      <input type="hidden" name='_method' value='delete'>
      <input type="submit" value='Log-Out'>
      <a href="/profile/<%=current_user.id%>">Profile</a>
    </form>
   
  <% else %>
    <a href="/users/new">Sign Up!</a>
    <a href="/sessions/new">Log-in!</a>
  <% end %>
</div>


<% if session[:current_user] %>
<div class="gamemenu">
	<a href="/hangman_games">HANGMAN</a>
	<p></p>
	<a href="/tictactoe">TIC-TAC-TOE</a>
</div>
  <% else %>
 <div class="gamemenu">
  	SIGN IN OR SIGN UP TO PLAY SOME... GAMES
 </div>
<% end %>