<a href="/"><h3>Something topical about x's and o's.....</h3></a>

<form class="newgame" action="/tictactoe/new">
	<input type="submit" value="Start a New Game!">
</form>

<div class="gamearea"></div>


<!-- 
prevent default
empty div -->