<a href="/"><h3>Hang 'em High.... or don't, actually.</h3></a>

<button class="newgame">Start a new game</button>

<!-- 
prevent default
empty div -->

<div class="gamearea"></div>

<form class="guessform" action="/hangman_games" method="patch">
	<input type="text">
	<input class="guessbutton" type="submit" value="Guess">
</form>

<script>

	$button = $(".newgame")


	$button.on("click", function(){
			console.log('tweezer');
	})


</script>



