<a href="/"><h3>Hang 'em High.... or don't, actually.</h3></a>

<div class="gamearea"></div>

<form class="guessform" action="/hangman" method="patch">
	<input type="text">
	<input class="guessbutton" type="submit" value="Guess">
</form>